@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
    color:white;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', cursive;
    position:relative;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 70px;
}

.playButtons{
    position:float;
    width: 90vh;
    top:0;
    left:0;
}

button{
    background-color: transparent;
    margin:none;
    border:1px dashed white;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin:10px;
    padding:4px;
}

.welcome{
    font-size:2em;
    margin-top:5vh;
    margin-bottom: 30px;
}

a {
    position: relative;
    text-decoration: none;
    width: 270px;
    height: 90px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color:none;
}

a:hover{
text-decoration: underline;
}

.instruction{
    border:2px dashed whitesmoke;
    width: 500px;
    margin:auto;
}   

footer{
    position: absolute;
    z-index: 4;
    height:15%;
    width:100%;
    bottom: 0;
    text-align: center;
    border-top:1px dashed white;
    padding: 20px;
}

#welcomeWords { 
    position: relative;
}

#welcomeWords::after {
    content: ""; 
    position: absolute;
    width: 1px;
    height: 90%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink { 
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}