#game { 
  background: black;
}

header{
  background-color: black;
  color:white; 
}


#life1{
  top:0;
  right:0;
  width:40px;
  height:40px;
  position: absolute;
}

#life2{
  top:0;
  right: 10%;
  width:40px;
  height:40px;
  position: absolute;
}

#life3{
  top:0;
  right:5%;
  width:40px;
  height:40px;
  position: absolute;
}

.playButtons{
  position:float;
  width: 50vh;
  top:0;
  left:0;
}

button{
  background-color: transparent;
  color:white;
  margin:none;
  border:1px dashed white;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin:10px;
  padding:4px;
}